<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**  @var $block \Eguana\GoodMD\Block\Adminhtml\Items\Column\DefaultColumn */
?>
<?php if ($_item = $block->getItem()): ?>
    <div class="product-interface-status">
        <p><?= /* @escapeNotVerified */ __('Interface Status') ?>: <?= /* @escapeNotVerified */ $block->getLabelByValue() ?></p>
    </div>
<?php endif; ?>
